/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    background-color: #1c1f26;
    color: white;
}

.card-foro {
    background-color: #2a2f38;
    border-radius: 10px;
    padding: 20px;
}